.navbar-header img {
  margin-top: 8px;
}

.main {
  margin-top: 70px;
}

.markdown .nav {
  a {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
  }

  a:hover {
    background-color: white;
    color: red;
  }

  a.active {
    color: red;
    background-color: white;
  }

  ul {
    list-style: none;
    padding-left: 10px;
    font-size: 90%;
    color: #999;
  }

  li, li a {
    white-space: nowrap;
  }
}

i {
  margin-right: 7px;
}

@import 'markdown';
