.navbar-header img {
  margin-top: 8px;
}

.main {
  margin-top: 70px;
}

.nav.markdown {
  a {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
  }

  a:hover {
    color: red;
    background-color: white;
  }
}

ul ul {
  list-style: none;
  font-size: 90%;
  color: #999;
  padding-left: 10px;
}

li a, li {
  white-space: nowrap;
}

i {
  margin-right: 7px;
}

@import 'markdown';
